{{> header}}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="texts-center mb-4">Bienvenidos a Handlebars</h1>
    </nav>
    <h2>Productos</h2>
    <div class="row roe-cols-1 row-clas-md-2 row-cols-lg-3">
        {{#each products}}

        <div class="col mb-4">
            <div class="card h-100 bg-light">
                <div class="card-header bg-primary text-white">
                    <i class="bi bi-tag"></i> Code:{{this.code}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-white">{{this.title}}</h5>
                    <ul class="list-unstyled">
                        <li> <i class="bi bi-info-text"></i>Descripcion: {{this.description}} </li>
                        <li> <i class="bi bi-currency-dollar"></i>Price: {{this.price}} </li>
                        <li> <i class="bi bi-grid"></i>Category: {{this.category}} </li>
                        <li> <i class="bi bi-check-circle"></i>Status: {{this.status}} </li>
                        <li> <i class="bi bi-box"></i>Stock: {{this.stock}} </li>
                        <li> 
                            <i class="bi bi-image"></i>Imagen: <img src="{{this.thumbnail}}" alt="{{this.title}}"
                                class="img-fluid mt-2">

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {{/each}}
    </div>



</div>


<script src="/js/index.js"></script>